figure {
  margin: 0;
}

@media (max-width: $screen-smm-max) {
  .container {
    max-width: 90% !important;
  }
}

@media (max-width: $screen-xs-max) {
  .container {
    max-width: 100% !important;
  }
}

