/* Device = Most of the Smartphones Mobiles (Portrait) */
$screen-xxs-min: 320px;


/* Device = Low Resolution Tablets, Mobiles (Landscape) */
$screen-xxs-max: 480px;
$screen-xs-min: 481px;

$screen-xs-max: 767px;
$screen-smm-min: 768px;

$screen-smm-max: 991px;
$screen-mm-min: 992px;

/* Device = Tablets, Ipads (portrait) */
$screen-sm-min: 768px;
$screen-sm-max: 1024px;

/* Device = Laptops, Desktops */
$screen-md-min: 1025px;

$screen-md-mid: 1200px;
$screen-md-max: 1280px;

/* Device = Desktops */
$screen-lg-min: 1281px;
$screen-lg-max: 1440px;

/* Higher Resolution Screens */
$screen-xlg-min: 1441px;
$screen-xlg-max: 2560px;

$font-family-playfair: 'Playfair Display', serif;

$font-weight-thin:          100;
$font-weight-exlight:       200;
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-medium:        500;
$font-weight-semibold:      600;
$font-weight-bold:          700;
$font-weight-exbold:        800;
$font-weight-black:         900;

/*
* ========= Font Sizes ==========
*/

$fs60: 60px;
$fs48: 48px;
$fs45: 45px;
$fs40: 40px;
$fs38: 38px;
$fs36: 36px;
$fs33: 33px;
$fs32: 32px;
$fs30: 30px;
$fs27: 27px;
$fs26: 26px;
$fs24: 24px;
$fs23: 23px;
$fs22: 22px;
$fs21: 21px;
$fs20: 20px;
$fs19: 19px;
$fs18: 18px;
$fs17: 17px;
$fs16: 16px;
$fs15: 15px;
$fs14: 14px;
$fs13: 13px;
$fs12: 12px;
$fs11: 11px;


/*
* ======== Fonts ========
*/

$substituteHASS: Helvetica, Arial, sans-serif;

/* ----- Stag Font ----- */
$ffLibertinage: "Libertinage", $substituteHASS;
$ffTrajanPro-Regular: "TrejanPro-Regular", $substituteHASS;
